In [2]:
# Import all required libraries
import pandas
from pandas import *
import numpy
from datetime import datetime
from sklearn.model_selection import train_test_split
import lightgbm as lgb

# Initialize values

env = None
sample_size = None
# Set env, if env = test, will only be run locally and display the result
env = "prod"
#env = "test"

# Number of value on which to train, if null, train on all value
#sample_size = 40000

In [3]:
# Read training data + test data
df_data = pandas.read_csv("../input/train.csv")
df_test = pandas.read_csv("../input/test.csv")


# Display basic information
display(df_data.head(5))
print(df_data.describe())
df_data.columns

df_test.describe()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

                 id         store         item
count  45000.000000  45000.000000  45000.00000
mean   22499.500000      5.500000     25.50000
std    12990.525394      2.872313     14.43103
min        0.000000      1.000000      1.00000
25%    11249.750000      3.000000     13.00000
50%    22499.500000      5.500000     25.50000
75%    33749.250000      8.000000     38.00000
max    44999.000000     10.000000     50.00000

In [4]:
if env == "test":
    # Take the last 3 months of 2017 as testing data
    df_test = df_data[df_data.date >= '2017-10-01']
    # Remove the last 3 months, as it would not be fair to train on those
    df_train = df_data[df_data.date < '2017-10-01']
else:
    df_train = df_data
    df_test['sales'] = 0

# Only select a small sample, faster local testing
if sample_size is not None and sample_size > 0:
    df_train = df_train.sample(sample_size)
    
print(df_train.head())

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [5]:
# We add all data sets to add dummies there, and every relevant columns
def prepare_data(df1, df2):
    count1 = len(df1)
    count2 = len(df2)

    print("count1: {0}".format(count1))
    print("count2: {0}".format(count2))
    df = df1.append(df2, ignore_index=True)
    # Add time column, easier for later step
    df = df.assign(time = df.date.apply(lambda x: datetime.strptime(x, "%Y-%m-%d")))
    
    # nb days since the beginning of the data, as traffic grows by store
    df = df.assign(days = df.time.apply(lambda x: (x - datetime(2012,12,31)).days))
    
    # Week day should be used 
    df = df.assign(weekday = df.time.apply(lambda x: x.weekday()))
    
    df = df.assign(dom = df.time.apply(lambda x: x.day))
    
    df = df.assign(cw = df.time.apply(lambda x: x.isocalendar()[1]))

    df = df.assign(month = df.time.apply(lambda x: x.month))
    
    df = pandas.get_dummies(df, prefix=['store', 'item', 'dom', 'cw', 'weekday', 'month'], 
                            columns=['store', 'item', 'dom', 'cw', 'weekday', 'month'])
    
    # Return both dataframe, by number
    return df[:count1], df[count1:]

df_train_prepared, df_test_prepared = prepare_data(df_train, df_test)
print("df_train1 len: {0}, df_test1 len: {1}".format(len(df_train_prepared), len(df_test_prepared)))
display(df_train_prepared.head(5))
display(df_test_prepared.head(5))

count1: 913000
count2: 45000

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

df_train1 len: 913000, df_test1 len: 45000

         date  id  sales    ...    month_10  month_11  month_12
0  2013-01-01 NaN     13    ...           0         0         0
1  2013-01-02 NaN     11    ...           0         0         0
2  2013-01-03 NaN     14    ...           0         0         0
3  2013-01-04 NaN     13    ...           0         0         0
4  2013-01-05 NaN     10    ...           0         0         0

[5 rows x 168 columns]

              date   id  sales    ...    month_10  month_11  month_12
913000  2018-01-01  0.0      0    ...           0         0         0
913001  2018-01-02  1.0      0    ...           0         0         0
913002  2018-01-03  2.0      0    ...           0         0         0
913003  2018-01-04  3.0      0    ...           0         0         0
913004  2018-01-05  4.0      0    ...           0         0         0

[5 rows x 168 columns]

In [6]:
# split train in train and validation
# we don't want the y included, also algorithm only supports int, float or bool
feature_col = [i for i in df_train_prepared.columns if i not in ['sales','date','time']]
df_train_x, df_validate_x, df_train_y, df_validate_y = train_test_split(df_train_prepared[feature_col],df_train_prepared['sales'], test_size=0.2)
df_test_x = df_test_prepared[feature_col]    
display(df_train_x.head(5))
display(df_train_y.head(5))
display(df_validate_x.head(5))
display(df_validate_y.head(5))

        id  days  store_1    ...     month_10  month_11  month_12
351693 NaN  1102        0    ...            0         0         0
702101 NaN   918        0    ...            0         0         0
844757 NaN  1146        0    ...            0         0         0
400808 NaN   915        0    ...            0         0         0
878503 NaN   198        0    ...            0         0         0

[5 rows x 165 columns]

351693     55
702101     39
844757     25
400808    135
878503     35
Name: sales, dtype: int64

        id  days  store_1    ...     month_10  month_11  month_12
88430  NaN   783        0    ...            0         0         0
55430  NaN   651        1    ...            1         0         0
268519 NaN    98        0    ...            0         0         0
504962 NaN   987        0    ...            0         0         0
907054 NaN  1359        0    ...            0         0         0

[5 rows x 165 columns]

88430     18
55430     14
268519    81
504962    50
907054    57
Name: sales, dtype: int64

In [7]:
# Normalize the data

from sklearn.preprocessing import StandardScaler  
scaler = StandardScaler() 

# Don't cheat - fit only on training data

#scaler.fit(df_train_x)  

#df_train_x = scaler.transform(df_train_x) 
#df_validate_x = scaler.transform(df_validate_x) 
#df_test_x = scaler.transform(df_test_x)

In [8]:
# see https://www.kaggle.com/c/web-traffic-time-series-forecasting/discussion/37232

from numba import jit
import math

@jit
def smape_fast(y_true, y_pred):
    out = 0
    for i in range(y_true.shape[0]):
        a = y_true[i]
        b = y_pred[i]
        c = a+b
        if c == 0:
            continue
        out += math.fabs(a - b) / c
    out *= (200.0 / y_true.shape[0])
    return out

In [9]:
%%time

def model(train_x,train_y,validation_x,validation_y):
    params = {
        'nthread': 10,
         'max_depth': 5,
#         'max_depth': 9,
        'task': 'train',
        'boosting_type': 'gbdt',
        'objective': 'regression_l1',
        'metric': 'mape', # this is abs(a-e)/max(1,a)
#         'num_leaves': 39,
        'num_leaves': 64,
        'learning_rate': 0.2,
       'feature_fraction': 0.9,
#         'feature_fraction': 0.8108472661400657,
#         'bagging_fraction': 0.9837558288375402,
       'bagging_fraction': 0.8,
        'bagging_freq': 5,
        'lambda_l1': 3.097758978478437,
        'lambda_l2': 2.9482537987198496,
#       'lambda_l1': 0.06,
#       'lambda_l2': 0.1,
        'verbose': 1,
        'min_child_weight': 6.996211413900573,
        'min_split_gain': 0.037310344962162616,
        }
    
    lgb_train = lgb.Dataset(train_x,train_y)
    lgb_valid = lgb.Dataset(validation_x,validation_y)
    model = lgb.train(params, lgb_train, 3000, valid_sets=[lgb_train, lgb_valid],early_stopping_rounds=50, verbose_eval=50)
    
    return model

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 20 µs

In [ ]:
%%time
model = model(df_train_x,df_train_y,df_validate_x,df_validate_y)
y_test = model.predict(df_test_x)

In [ ]:
#display(df_test_prepared['sales'])
if env == "test":
     # We can calculate the avg error
    score = smape_fast(df_test_prepared['sales'].values[:], y_test)
    print("Model {0} got score of {1}".format("lgb", score))
else:
    # Let's write an output file, with the name of the model
    name = "lgb"
    print("Writing output file {0}.csv for model {0}".format(name))    
    df_test['sales'] = y_test
    result_df = df_test[['id', 'sales']]        
    result_df.to_csv("{0}.csv".format(name), index=False)